@charset "UTF-8";

body , html {
  height: 100%;
  background-color: rgb(255, 179, 191);
}

/* header */
#ikukyu_title {
  margin: 0 auto;
  margin-top: 20px;
  display: block;  
}

/* section1 */
.section1 {
  margin-top: 10px;
  background-color: #fff;
  border: 5px solid #55aaaa;
}

.section1 h2 {
  margin: 10px 5px 0;
}

.section1 > p {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5px;
}

.section1 nav {
  font-size: 15px;
  margin: 10px 0 10px 10px;
}

.px {
  font-size: 20px;
  margin-left: 5px;
}

#one,
#two,
#three,
#four,
#five,
#six {
  font-size: 90%;
}

/* section2 */
.section2 {
  margin-top: 5px;
  background-color: #fff;
  border: 5px solid #55aaaa;
}

.section2 h2 {
  margin: 10px 5px 0;
}

.section2 p{
  font-size: 20px;
  margin-left: 5px;
}

#btn {
  box-sizing: border-box;
  width: 110px;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  background: #3897fd;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

#btn.disabled {
  opacity: 0.5;
}

/* section3 */
#result_half,
#result_year {
  text-align: right;
  margin-right: 5px;
}

span.supText {
font-size: 60%;
vertical-align: top;
position: relative;
top: -0.1em;
}

.proviso {
  text-align: right;
  font-size: 10px;
  margin-top: 5px;
}
